.todo_card{
	width: 20rem; 
	height: 12rem; 
	border: 2px solid;
	 display: flex; 
	 margin-bottom: 20px;
}
#todo_date{
	margin-left: 210px;
	color: #000;
}

#todo_status{
	margin-bottom: 4px;
	margin-left: 180px;
}

.card-text{
	font-size: 12px;
	line-height: 14px;
	font-family: all;
	font-weight: bold;
	color: #000;
}